* {
   box-sizing: border-box;
}

body {}

.header {
   width: 100%;
   max-width: 1180px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-right: 15px;
   padding-left: 15px;
}

.nav {
   display: flex;
   justify-content: flex-start;
   list-style: none;
}

.nav>li {
   margin-left: 15px;
}

.logo {
   display: flex;
   align-items: center;
   text-decoration: none;
}

.logo__img {
   background-image: url(../img/logo.svg);
   display: block;
   width: 58px;
   height: 58px;
   margin-right: 20px;
}

.logo__text {
   font-size: 24px;
   font-weight: 700;
   color: #202020;
}